.consultation {
  padding: 80px 0;
}
@media screen and (max-width: 450px) {
  .consultation {
    padding: 20px 0;
  }
}
.consultation h4 {
  color: var(--text, #151515);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 450px) {
  .consultation h4 {
    font-size: 28px;
  }
}
.consultation p {
  color: var(--text, #151515);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0 20px;
}
.consultation form {
  margin: 0 auto;
  max-width: 600px;
}
@media screen and (max-width: 680px) {
  .consultation form {
    padding: 0 12px;
  }
}
.consultation form > label {
  display: block;
  margin: 0 0 20px 0;
}
.consultation form > label input {
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--background, #FAFAFA);
  color: rgba(0, 0, 0, 0.9);
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 450px) {
  .consultation form > label input {
    padding: 8px 12px;
    font-size: 15px;
  }
}
.consultation form > label .sendError {
  background: red;
}
.consultation form > label > label {
  color: var(--text, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin: 0 0 5px 0;
}
.consultation button {
  display: block;
  margin: 0 auto;
  padding: 16px 30px;
  border-radius: 8px;
  background: var(--gre, #007E1D);
  border: none;
  color: var(--background, #FAFAFA);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .consultation button {
    width: 93%;
    margin: 40px auto 0px;
  }
}

.goodSend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0px;
}
@media screen and (max-width: 600px) {
  .goodSend {
    padding: 50px 0px;
  }
}
.goodSend img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.goodSend h5 {
  margin: 50px 0 20px;
  color: var(--text, #151515);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 450px) {
  .goodSend h5 {
    font-size: 30px;
  }
}
.goodSend p {
  color: var(--text, #151515);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 40px;
}