.updates {
  padding: 60px 0;
}
.updates h2 {
  color: #151515;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 20px 0;
}
.updates .updates__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.updates .updates__inner > div {
  height: 435px;
  width: 600px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FAFAFA;
}
.updates .updates__inner > div h3 {
  overflow: hidden;
  color: var(--text, #151515);
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px;
}
.updates .updates__inner > div div:nth-child(2) {
  width: 100%;
  height: 300px;
}
.updates .updates__inner > div div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.updates .updates__inner > div > p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px;
}
.updates .updates__inner > div .updates__hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  whitespace: nowrap;
  gap: 6px;
  padding: 12px;
}
.updates .updates__inner > div .updates__hashtag p {
  color: #151515;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background: rgba(217, 217, 217, 0.5);
}