.updates {
  padding: 60px 0;
}
.updates .updates__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  position: relative;
  height: 600px;
  background: blue;
}
.updates .updates__inner > div {
  background: red;
  max-width: 100%;
  height: 500px;
}
.updates .updates__inner > div > div {
  background: green;
  height: 400px;
}
.updates .updates__inner > div > div > div {
  background: pink;
  width: 100%;
  height: 300px;
}
.updates .updates__inner > div > div > div > div {
  background: orange;
  width: 100%;
  height: 200px;
}
.updates .updates__inner > div > div > div > div > div {
  background: brown;
  height: 150px;
}
.updates .updates__inner > div > div > div > div > div > div {
  background-color: black;
  height: 100px;
  width: 200px !important;
}
.updates .updates__inner .slick-prev,
.updates .updates__inner .slick-next {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-size: 24px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 10px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}