.languages
    padding: 60px 0px
    h4
        @media screen and ( max-width: 600px )
            padding: 0 0 0 30px
            font-size: 25px
            @media screen and ( max-width: 510px )
                padding: 0 0 0 12px
                font-size: 17px
    .languages__inner
        display: flex
        justify-content: space-between
        width: 650px
        height: auto
        margin: 30px auto 60px
        flex-wrap: wrap
        // background: #bdbdc4
        @media screen and ( max-width: 700px )
            width: 450px
            @media screen and ( max-width: 560px )
                justify-content: center
                @media screen and ( max-width: 500px )
                    width: 360px
        .languages__innerBlock
            display: flex
            align-items: center
            gap: 8px
            border-radius: 4px
            border: 1px solid var(--gre, #646464)
            padding: 4px 10px
            margin: 7px 40px
            width: 130px
            min-width: 100px
            // max-width: 150px
            height: 36px
            cursor: pointer
            @media screen and ( max-width: 700px )
                margin: 7px 10px

            > img
                width: 28px
                height: 22px
                display: block
            p
                color: var(--Text, #151515)
                font-family: Roboto
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: normal
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap


      
    > button
        @media screen and ( max-width: 600px )
            display: none !important
    
       
