.languages {
  padding: 60px 0px;
}
@media screen and (max-width: 600px) {
  .languages h4 {
    padding: 0 0 0 30px;
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) and (max-width: 510px) {
  .languages h4 {
    padding: 0 0 0 12px;
    font-size: 17px;
  }
}
.languages .languages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 650px;
  height: auto;
  margin: 30px auto 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .languages .languages__inner {
    width: 450px;
  }
}
@media screen and (max-width: 700px) and (max-width: 560px) {
  .languages .languages__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 700px) and (max-width: 560px) and (max-width: 500px) {
  .languages .languages__inner {
    width: 360px;
  }
}
.languages .languages__inner .languages__innerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--gre, #646464);
  padding: 6px 10px;
  margin: 7px 40px;
  width: 130px;
  min-width: 100px;
  height: 36px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .languages .languages__inner .languages__innerBlock {
    margin: 7px 10px;
  }
}
.languages .languages__inner .languages__innerBlock > img {
  width: 28px;
  height: 22px;
  display: block;
}
.languages .languages__inner .languages__innerBlock p {
  color: var(--Text, #151515);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .languages > button {
    display: none !important;
  }
}