.menuBurger {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  z-index: 50;
  display: none;
}
@media screen and (max-width: 1010px) {
  .menuBurger {
    display: block;
  }
}
.menuBurger .iconImgParent {
  padding: 0px 26px 0 0;
  position: relative;
}
.menuBurger .iconImgParent > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 16px;
}
.menuBurger .iconImgParent > div img {
  display: block;
  height: 30px;
  width: 30px;
}
.menuBurger .iconImgParent > div > p {
  color: var(--text, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.menuBurger .iconImgParent > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 26px;
  top: 5px;
}
.menuBurger .menuBurger__childShadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 49;
}
.menuBurger .menuBurger__child {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(36, 86, 151, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(36, 86, 151, 0.1);
  -webkit-animation: menu 1s;
          animation: menu 1s;
}
@media screen and (max-width: 450px) {
  .menuBurger .menuBurger__child {
    width: 80%;
  }
}
.menuBurger .menuBurger__child ul {
  background: #FAFAfa;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 450px) {
  .menuBurger .menuBurger__child ul {
    padding: 0px 0 0 40px;
  }
}
@media screen and (max-width: 450px) and (max-width: 430px) {
  .menuBurger .menuBurger__child ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 80px 0 0 40px;
  }
}
.menuBurger .menuBurger__child ul li {
  color: var(--text, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #fafafa;
  padding: 20px;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .menuBurger .menuBurger__child ul li {
    margin: 5px 0;
    font-size: 22px;
    font-weight: 400;
    padding: 12px 20px;
    text-align: left;
  }
}
.menuBurger .menuBurger__child ul li section {
  margin: 0 auto !important;
}
@media screen and (max-width: 450px) {
  .menuBurger .menuBurger__child ul li section {
    margin: 0px !important;
  }
}
.menuBurger .menuBurger__child ul .closeMenu {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 25px;
  height: 25px;
  background: transparent;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 450px) {
  .menuBurger .menuBurger__child ul .closeMenu {
    right: 30px;
  }
}
.menuBurger .menuBurger__child ul .closeMenu img {
  width: 25px;
  height: 25px;
}
@-webkit-keyframes menu {
  0% {
    opacity: 0;
    margin: 0 -250px 0 0;
  }
  100% {
    opacity: 1;
    margin: 0;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
    margin: 0 -250px 0 0;
  }
  100% {
    opacity: 1;
    margin: 0;
  }
}