.blockPush {
  height: 80px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  z-index: 50;
}
@media screen and (max-width: 1010px) {
  .menu {
    display: none;
  }
}
.menu .menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .menu .menu__inner {
    padding: 0 20px;
  }
}
.menu .menu__inner > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 780px) {
  .menu .menu__inner > div a {
    gap: 10px;
  }
}
.menu .menu__inner > div a img {
  display: block;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 780px) {
  .menu .menu__inner > div a img {
    width: 30px;
    height: 30px;
  }
}
.menu .menu__inner > div a p {
  color: #151515;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
@media screen and (max-width: 920px) {
  .menu .menu__inner > div a p {
    font-size: 22px;
  }
}
@media screen and (max-width: 920px) and (max-width: 780px) {
  .menu .menu__inner > div a p {
    font-size: 18px;
  }
}
.menu .menu__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 880px) {
  .menu .menu__inner ul {
    gap: 25px;
  }
}
@media screen and (max-width: 880px) and (max-width: 630px) {
  .menu .menu__inner ul {
    gap: 18px;
  }
}
.menu .menu__inner ul li {
  cursor: pointer;
}
.menu .menu__inner ul li a {
  display: block;
  color: #151515;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 880px) {
  .menu .menu__inner ul li a {
    font-size: 14px;
  }
}
.menu .menu__inner ul li .activePage {
  color: #007E1D;
}
.menu .menu__inner ul li svg {
  width: 30px;
  height: 30px;
  display: block;
  color: #151515;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu .menu__inner ul li:nth-child(5) {
  display: none;
}

.consultationBlock {
  position: fixed;
  bottom: 60px;
  right: 172px;
  width: 62px;
  height: 42px;
  z-index: 50;
}
@media screen and (max-width: 950px) {
  .consultationBlock {
    right: 100px;
  }
}
@media screen and (max-width: 950px) and (max-width: 540px) {
  .consultationBlock {
    right: 50px;
  }
}