footer
    border-top: 0.5px solid  #007E1D
    padding: 60px 50px 80px
    background-color: #004610
    @media screen and ( max-width: 550px )
        padding: 50px 12px
        @media screen and ( max-width: 381px )
            padding: 50px 0
    .footer__inner
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        > a
            display: block
            @media screen and ( max-width: 700px )
                padding: 20px
                @media screen and ( max-width: 381px )
                    padding: 12px
            > div
                width: 60px
                height: 60px
                @media screen and ( max-width: 450px )
                    width: 40px
                    height: 40px
                    
            p
                color: #fafafa
                font-family: 'Roboto', sans-serif
                font-size: 16px
                font-style: normal
                font-weight: 500
                line-height: 36px 
                @media screen and ( max-width: 450px )
                    font-size: 10px
        ul
            @media screen and ( max-width: 700px )
                padding: 20px
                @media screen and ( max-width: 381px )
                    padding: 10px
            li
                h6
                    color: #fafafa
                    font-family: 'Roboto', sans-serif
                    font-size: 16px
                    font-style: normal
                    font-weight: 500
                    line-height: normal
                a
                    display: block
                    color: #fafafa
                    font-family: 'Roboto', sans-serif
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: normal
                    margin: 10px 0 0 0
                    @media screen and ( max-width: 420px )
                        font-size: 14px
        .first_ul
            @media screen and ( max-width: 475px )
                display: block
                width: 190px
                @media screen and ( max-width: 420px )
                    width: 170px
                    @media screen and ( max-width: 381px )
                        padding: 0px 12px
                        width: 155px
    .footer__icons
        display: flex
        justify-content: center
        align-items: center
        gap: 20px
        padding: 60px 0 0 0
        img
            display: block
            width: 35px !important
            height: 35px
            border: 1px solid #fff
            border-radius: 50%