.choiceSelect {
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .choiceSelect > b {
    width: 340px;
    margin: 5px auto;
  }
}
.choiceSelect .choiceSelect_from {
  width: 350px;
  height: 40px;
  background: #fafafa;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 12px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 750px) {
  .choiceSelect .choiceSelect_from {
    margin: 0 auto;
    width: 340px;
  }
}
.choiceSelect .choiceSelect_from b {
  display: block;
  width: 60%;
  overflow: hidden;
  color: #151515;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: 20px;
  font-weight: 500;
  line-height: 20px;
  height: 20px;
}
.choiceSelect .choiceSelect_from .activeSelect {
  overflow: hidden;
  color: #007e1d;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.choiceSelect .choiceSelect_from img {
  display: block;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 650px) {
  .choiceSelect .choiceSelect_from img {
    width: 25px;
    height: 25px;
  }
}
.choiceSelect .activeSelect {
  overflow: hidden;
  color: #007e1d;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: block;
}