.freelancerLang {
  width: 610px;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .freelancerLang {
    margin: 30px auto;
    width: 350px;
  }
}
.freelancerLang .freelancerLang__from {
  margin: 20px 0;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__from {
    width: 340px;
    margin: 0 auto;
  }
}
.freelancerLang .freelancerLang__from .freelancerLang__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__from .freelancerLang__inner > div {
    width: 165px !important;
  }
  .freelancerLang .freelancerLang__from .freelancerLang__inner > div > section, .freelancerLang .freelancerLang__from .freelancerLang__inner > div div {
    width: 165px;
  }
}
.freelancerLang .freelancerLang__from .freelancerLang__inner > div:nth-child(2) {
  width: 250px;
}
.freelancerLang .freelancerLang__from .freelancerLang__inner > div:nth-child(2) .langSelectFrom > div {
  width: 250px !important;
}
.freelancerLang .freelancerLang__from > p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 5px 0;
}
.freelancerLang .freelancerLang__to {
  margin: 30px 0;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__to {
    width: 340px;
    margin: 30px auto 0;
  }
}
.freelancerLang .freelancerLang__to .freelancerLang__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__to .freelancerLang__inner > div {
    width: 165px !important;
  }
  .freelancerLang .freelancerLang__to .freelancerLang__inner > div > section, .freelancerLang .freelancerLang__to .freelancerLang__inner > div div {
    width: 165px;
  }
}
.freelancerLang .freelancerLang__to .freelancerLang__inner > div:nth-child(2) {
  width: 250px;
}
.freelancerLang .freelancerLang__to .freelancerLang__inner > div:nth-child(2) .langSelectFrom > div {
  width: 250px !important;
}
.freelancerLang .freelancerLang__to > p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 5px 0;
}
.freelancerLang .freelancerLang__inner:nth-child(2) > button {
  display: none;
}
.freelancerLang .freelancerLang__inner:nth-child(2) > div:nth-child(2) {
  width: 300px;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__inner:nth-child(3) > div:nth-child(2),
  .freelancerLang .freelancerLang__inner:nth-child(4) > div:nth-child(2) {
    width: 115px !important;
  }
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__inner:nth-child(3) > div:nth-child(2) > section,
  .freelancerLang .freelancerLang__inner:nth-child(4) > div:nth-child(2) > section {
    width: 115px !important;
  }
}
.freelancerLang .freelancerLang__inner:nth-child(3) > div:nth-child(2) > div,
.freelancerLang .freelancerLang__inner:nth-child(4) > div:nth-child(2) > div {
  width: 250px;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__inner:nth-child(3) > div:nth-child(2) > div,
  .freelancerLang .freelancerLang__inner:nth-child(4) > div:nth-child(2) > div {
    width: 115px;
  }
}
.freelancerLang .btnAddselect {
  border-radius: 6px;
  border: 2px solid #646464;
  background: #FAFAFA;
  color: #646464;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 20px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.freelancerLang .deleteBtn {
  width: 40px;
  height: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--Background, #FAFAFA);
}
.freelancerLang .deleteBtn img {
  width: 70%;
  height: 70%;
}