.freelancerLang {
  width: 610px;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .freelancerLang {
    margin: 30px auto;
    width: 350px;
  }
}
.freelancerLang .freelancerLang__from {
  margin: 20px 0;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__from {
    width: 340px;
    margin: 0 auto;
  }
}
.freelancerLang .freelancerLang__from > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__from > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
  }
  .freelancerLang .freelancerLang__from > div > div:first-child {
    width: 265px;
  }
  .freelancerLang .freelancerLang__from > div > div:first-child > div {
    width: 265px;
  }
}
.freelancerLang .freelancerLang__from > div .deleteBtn {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.freelancerLang .freelancerLang__from > div .deleteBtn img {
  width: 80%;
  height: 80%;
}
.freelancerLang .freelancerLang__from > p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 5px 0;
}
.freelancerLang .freelancerLang__to {
  margin: 30px 0;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__to {
    width: 340px;
    margin: 30px auto 0;
  }
}
.freelancerLang .freelancerLang__to > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .freelancerLang .freelancerLang__to > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
  }
  .freelancerLang .freelancerLang__to > div > div:first-child {
    width: 265px;
  }
  .freelancerLang .freelancerLang__to > div > div:first-child > div {
    width: 265px;
  }
}
.freelancerLang .freelancerLang__to > p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 5px 0;
}
.freelancerLang .btnAddselect {
  border-radius: 6px;
  border: 2px solid #646464;
  background: #FAFAFA;
  color: #646464;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 20px;
  margin: 10px 0 0 0;
  cursor: pointer;
}