.standartTitle {
  color: #151515;
  font-family: Roboto;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 20px 0;
}
.lineBlock {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 0 0 60px 0;
}
.textAboveSelect {
  display: block;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.mySelect {
  border-radius: 6px;
  background: var(--background, #fafafa);
  width: 350px;
  height: 240px;
  padding: 10px 20px;
  margin: 10px 0;
  overflow-y: scroll;
  animation: selects 0.6s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 20;
}
.mySelect > p {
  color: #151515;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}
.mySelect > b {
  display: block;
  color: #151515;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}
@keyframes selects {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mySelect::-webkit-scrollbar {
  width: 0px;
}

.mySelect::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #fafafa;
}
.addBlockNav {
  padding: 30px 0 60px;
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 850px) {
  .standartTitle {
    font-weight: 600;
    font-size: 30px;
    padding: 0 0 0 12px;
  }
}

@media (max-width: 480px) {
  .standartTitle {
    font-size: 20px;
    text-align: left;
  }
  .textAboveSelect {
    color: #151515;
  }
  .addBlockNav {
    padding: 0px 0 30px;
  }
}
@media (max-width: 600px) {
  .lineBlock {
    display: none;
  }
}
@media (max-width: 750px) {
  .mySelect {
    display: block;
    width: 340px;
    margin: 10px auto 0;
  }
}

.prevPage {
  color: #929292 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0 !important;
  background-color: transparent;
  border: none;
}
.arrowPage {
  display: block;
  width: 10px;
  height: 10px;
}
.nextPage {
  display: block;
  color: #151515;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shadow {
  width: 50px;
  height: 30px;
  right: 5px;
  position: absolute;
  z-index: 10;
}
